* {
    padding: 0;
    margin: 0;
}

html,
body,
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper {
    /* background: rebeccapurple; */
}

.wrapper .slider-list {
    width: 100%;
    height: 100%;
}

.wrapper .slider-list .slider {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    padding: 300px 200px;
}

.wrapper .slider-list .slider:nth-child(1) {
    background-image: url("../img/bg-1.jpg");
}

.wrapper .slider-list .slider:nth-child(2) {
    background-image: url("../img/bg-2.jpg");
    display: none;
}

.wrapper .slider-list .slider:nth-child(3) {
    background-image: url("../img/bg-3.jpg");
    display: none;
}

.title {
    color: #fff;
    float: left;
    width: 30%;
}

img {
    width: 40%;
    float: right;
}

.slider-btn {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40px;
    margin-top: -20px;
}

.slider-btn span {
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.slider-btn .right-btn {
    margin-right: 50px;
    float: right;
    background-image: url("../img/right-btn.png");
}

.slider-btn .left-btn {
    margin-left: 50px;
    float: left;
    background-image: url("../img/left-btn.png");
}

.slider-order {
    position: absolute;
    width: 100%;
    bottom: 100px;
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #888;
    border-radius: 50px;
    margin-right: 20px;
    text-indent: -9999px;
    cursor: pointer;
}

.active {
    background: #fff;
}